[Unit]
Description=rpiweather
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/src/rpi-repo
ExecStart=/bin/bash -c "./venv/bin/python -m rpithermostat.server"
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=multi-user.target
